body{
    padding: 0;
    background-color:rgb(134, 112, 103);
    margin: 50px 400px 50px 500px ;
    align-items: center;
}
h1{
    color: rgb(20, 19, 19);
    font-family:monospace;
    font-size: 3rem;
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    width: 60%;
    text-align: center;
    border: 4cm;
    border-color: rgb(241, 239, 239);
}


.btns{
    display: flex;
    flex-direction: row;
    margin: 2px 0px;
    border: 4cm;
    border-color: rgb(241, 239, 239);
}

button{
    width: 100px;;
    height: 50px;
    background-color: aqua;
    font-size:larg;

}
.inputText{
    text-align: right;
    display: table-column;
    vertical-align: middle;
    border: 5px;
     width: 270px;
    height: 50px;
    font-size: 2rem;
    color: rgb(8, 8, 8);
    font-family: 'Franklin Gothic Medium',sans-serif;
}
.clearit{
    background-color: rgb(30, 173, 216);
    text-align: center;
    width: 400px;
}